@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500 & display=swap');
 h1 {
    color:rgb(250, 165, 67);
font-family: 'Lobster Two', cursive;
        font-variant: small-caps;
    font-weight: 800;
    font-size: 5em;
    text-align: center;
} 
nav ul li {	
    display: inline-block;
    margin: 30px;
    margin-top: 30px;
}
    
nav ul li a {text-decoration: none;
    font-size: 35px;
    font-variant: small-caps;
		font-weight: bold;
        color:rgb(247, 10, 235);

}
#home{
    background-image: url("../image/tache.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
#expo{background-image: url("../image/pagechiffon.PNG");
    background-size: cover;
    background-repeat: no-repeat;


}
#inter{background-image: url("../image/pagechiffon.PNG");
    background-size: cover;
    background-repeat: no-repeat;


}
#description{background-image: url("../image/pagechiffon.PNG");
    background-size: cover;
    background-repeat: no-repeat;


}
#myself{background-image: url("../image/pagechiffon.PNG");
    background-size: cover;
    background-repeat: no-repeat;


}


div {
    text-align: center;
    font-size: 24px;
    opacity: 0.8;
}
nav ul {

    border: none;
}
#text1{
    
font-family: 'Lobster Two', cursive;



}
#txtd{
    font-family: 'Lobster Two', cursive;

}